@model IEnumerable<EF.CategoryTodoList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TodoList.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TodoList.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.categorytodolistid }) |
            @Html.ActionLink("Details", "Details", new { id=item.categorytodolistid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.categorytodolistid })
        </td>
    </tr>
}

</table>
