@model IEnumerable<EF.Category>
   

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<script>


    function itemTemplete(catID, catTitle, catDescription, count) {
        var comp = "checked";
        var itemDiv = document.createElement('div');
        var editDeleteString = '';
        
        if (parseInt(count) > 0) {
            editDeleteString = '(<a  onclick="displayEdit(' + catID + ')" href="javascript:void(0);">edit</a>)     ';
        } else if (parseInt(count) == 0) {
            editDeleteString = '(<a  onclick="displayEdit(' + catID + ')" href="javascript:void(0);">edit</a>)     ' +
                  '(<a onclick="deleteItem(' + catID + ')" href="javascript:void(0);">delete</a>)';
        }

        itemDiv.id = "itmDiv " + catID;
        itemDiv.style.verticalAlign = 'center';
        itemDiv.innerHTML = 
            '<div style="width:20%;float:left;clear:left;border-bottom: 1px solid black;min-height:28px;">' +
                '<div id="txtTitle ' + catID + '">' + catTitle + '</div><input id="txtBoxTitle ' +
                    catID + '" value="' + catTitle + '" style="display:none;"/>' +
            '</div>' +
                '<div style="width:40%;min-height:3px;float:left;border-bottom: 1px solid black;min-height:28px;">' +
            '<div id="txtDescription ' + catID + '">' + catDescription + '</div><input id="txtBoxDescription ' +
                catID + '" value="' + catDescription + '" style="display:none;"/>' +
            '</div>' +
                 '<div style="width:90px;float:left;border-bottom: 1px solid black;min-height:28px;">' + count + 
            '</div>' +
            '<span style="font-size:9px;float:left;">' +
                  '<input class="btn btn-default" id="itemSave ' + catID + '" type="button" value="Save Item" onclick="saveItem(' + catID + ')" style="display:none; height:25px;font-size:12px">' + editDeleteString +
             '</span>'
        ;
        return itemDiv;
    }

    function displayEdit(catID) {
        document.getElementById('txtTitle ' + catID).style.display = 'none';
        document.getElementById('txtDescription ' + catID).style.display = 'none';
        document.getElementById('txtBoxTitle ' + catID).style.display = '';
        document.getElementById('txtBoxDescription ' + catID).style.display = '';
        document.getElementById('itemSave ' + catID).style.display = '';

    }

    function hideEdit(catID) {
        document.getElementById('txtTitle ' + catID).style.display = '';
        document.getElementById('txtDescription ' + catID).style.display = '';
        document.getElementById('txtBoxTitle ' + catID).style.display = 'none';
        document.getElementById('txtBoxDescription ' + catID).style.display = 'none';
        document.getElementById('itemSave ' + catID).style.display = 'none';
        document.getElementById('txtBoxTitle ' + catID).value = document.getElementById('txtTitle ' + catID).innerHTML;
        document.getElementById('txtBoxDescription ' + catID).value = document.getElementById('txtDescription ' + catID).innerHTML;
    }


    function saveItem(catID) {
        var catTitle = document.getElementById('txtBoxTitle ' + catID).value;
        var catDescription = document.getElementById('txtBoxDescription ' + catID).value;
        console.log(catTitle + " " + catDescription);
        //window.alert(catTitle + " " + catDescription);
        var urlInsert = '@Url.Action("Update","Categories")';
        $.post(urlInsert, { categoryid: catID, title: catTitle, description: catDescription },
            function (data) {
                document.getElementById('txtTitle ' + catID).innerHTML = catTitle;
                document.getElementById('txtDescription ' + catID).innerHTML = catDescription;
                hideEdit(catID);
            });
    }

    function deleteItem(catID) {
        var urlInsert = '@Url.Action("Delete","Categories")';
        $.post(urlInsert, { categoryid: catID }, function (data) {
            document.getElementById('itemsHolder').removeChild(document.getElementById("itmDiv " + catID));
        });
    }

    function cancelAddItem() {
        document.getElementById('newItemTitle').value = "";
        document.getElementById('newItemDescription').value = "";
        document.getElementById('newItemDiv').style.display = 'none';
        document.getElementById('btnAddItem').style.display = 'none';
        document.getElementById('btnCancelItem').style.display = 'none';
        document.getElementById('btnAddItemEmpty').style.display = '';
    }

    function beginItemAdd() {
        document.getElementById('newItemDiv').style.display = '';
        document.getElementById('btnAddItem').style.display = '';
        document.getElementById('btnCancelItem').style.display = '';
        document.getElementById('btnAddItemEmpty').style.display = 'none';
    }

    function addItem() {
        var newTitle = document.getElementById('newItemTitle').value;
        var newDescription = document.getElementById('newItemDescription').value;
        var myList = document.getElementById('todolistid').value;

        var urlInsert = '@Url.Action("Insert", "Categories")';

        $.get(urlInsert, { title: newTitle, description: newDescription }, function (data) {
            var itmDiv = itemTemplete(data, newTitle, newDescription, 0)
            document.getElementById('itemsHolder').appendChild(itmDiv);
        });

        cancelAddItem();
    }

    function titleEditDisplay() {
        document.getElementById('titleBox').style.display = '';
        document.getElementById('titleEdit').style.display = '';
        document.getElementById('titleDiv').style.display = 'none';
        document.getElementById('titleEditLink').style.display = 'none';
    }

    function titleEditHide() {
        document.getElementById('titleBox').style.display = 'none';
        document.getElementById('titleEdit').style.display = 'none';
        document.getElementById('titleDiv').style.display = '';
        document.getElementById('titleEditLink').style.display = '';
    }

    function titleEditSave() {
        var newTitle = document.getElementById('titleBox').value;
        var myList = document.getElementById('todolistid').value;
        var urlInsert = '@Url.Action("UpdateTitle", "Categories")';
        $.post(urlInsert, { title: newTitle, listid: myList }, function (data) {
            document.getElementById('titleDiv').innerHTML = newTitle;
            titleEditHide();
        });
    }

    function pageDeleteDisplay() {
        document.getElementById('delInitialBut').style.display = 'none';
        document.getElementById('delCancelBut').style.display = '';
        document.getElementById('delConfirmBut').style.display = '';
        document.getElementById('delConfirmMessage').style.display = '';
    }

    function pageDeleteHide() {
        document.getElementById('delInitialBut').style.display = '';
        document.getElementById('delCancelBut').style.display = 'none';
        document.getElementById('delConfirmBut').style.display = 'none';
        document.getElementById('delConfirmMessage').style.display = 'none';
    }

    function pageDelete() {
        var myList = document.getElementById('todolistid').value;
        var urlInsert = '@Url.Action("DeleteList", "Categories")';
        $.post(urlInsert, { listid: myList }, function (data) {
            window.location = "..";
        });
    }


</script>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">

                <h4>Add, remove, or edit your categories:</h4>
                <div id="todoitems">
                    <!-- for each list to add todo items -->
                    <div style="border-bottom-style:groove;">
                        <div style="width:20%;float:left;border-bottom-style:groove;">Title:</div>
                        <div style="width:40%;float:left;border-bottom-style:groove;">Description</div>
                        <div style="width:90px;float:left;border-bottom-style:groove;clear:right;">Instances</div>
                    </div>
                    <div id="itemsHolder"></div>
                    @{


                        foreach (var item in Model)
                        {
                            <script>
                            var thisItem = itemTemplete('@item.categoryid','@item.title','@item.description ', '@item.CategoryTodoLists.Count');
                            document.getElementById('itemsHolder').appendChild(thisItem);   
                            </script>

                            <br />
                        }
                    }


                    <div id="newItemDiv" style="display:none;clear:left;">

                        <input type="text" id="newItemTitle" style="width:20%;" />
                        <input type="text" id="newItemDescription" style="width:40%;" />

                    </div>

                    <div style="text-align:center;clear:left;width:60%;">

                        <input id="btnAddItem" class="btn btn-default" type="button" value="Save..." onclick="addItem()" style="display:none;" />
                        <input id="btnCancelItem" class="btn btn-default" type="button" value="Cancel" onclick="cancelAddItem()" style="display:none;" />
                        <input id="btnAddItemEmpty" class="btn btn-default" type="button" value="Add Todo Item" onclick="beginItemAdd()" />

                    </div>


                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!--<input type="submit" value="Save" class="btn btn-default" />-->
            </div>
        </div>
 
}













