

@model IEnumerable<EF.TodoList>

@{
    ViewBag.Title = "Lists";
}

<style>
   
    body , html{
        width: 100vw;
        height: 100vh;
    }

    .listOfLists {
      
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;

     
    }

    a {
        color:black;
    }
    a:link {
        text-decoration:none;
        
    }

    .singleList, .createNewList {
      
        padding: 10px;
        margin: 10px;
        display: inline-block;
        background: #FCF0AD;
        width: 300px;
        height: 300px;
        box-shadow: 10px 10px 5px #888888;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        text-align: center;

    }

    .singleList:hover, .createNewList:hover {
        background: #fbe984;
    }

    .createNewList {
        font-size: 200px;
    }


    .topItems {
        display: flex;
        flex-direction: column;
        margin-top:15px;

    }

    .categories {
        height:90px;
        width:270px;
        overflow:auto;
        margin: 5px;
        text-align:right;
        padding:10px;

    }

    .container1 {
        display:flex;
        flex-direction:column;
        height: 200px;
        justify-content:flex-start;
         scrollbar-base-color: lightgoldenrodyellow;

    }

 
</style>


   
        <div class="listOfLists">
            @foreach (var item in Model)
            {
                
                    var myLink = "/TodoLists/Edit/" + item.todolistid.ToString();
                 

                    <a href="@myLink">
                        <div class="singleList">
                            <h2>@Html.DisplayFor(modelItem => item.title)  </h2>

                            <div class="container1">

                                <div class="categories">
                                    @{
                                        for (var i = 0; i < item.CategoryTodoLists.Count; i++)
                                        {
                                            @Html.DisplayFor(modelItem => item.CategoryTodoLists.ToArray()[i].Category.title)<br />
                                        }
                                    }
                                </div>

                                <div class="topItems">
                                    <ul>

                                        @{var numOfItems = (item.TodoItems.Count <= 3) ? item.TodoItems.Count : 3;
                                            for (var i = 0; i < numOfItems; i++)
                                            {
                                                <li style="text-align:left">
                                                    @if (item.TodoItems.ToArray()[i].complete == 1)
                                                    {
                                                        <b> @Html.DisplayFor(modelItem => item.TodoItems.ToArray()[i].title)</b>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.TodoItems.ToArray()[i].title)

                                                    }

                                                </li>

                                            }
                                        }

                                    </ul>
                                </div>

                            </div>

                            <div class="doStuff">

                                @Html.ActionLink("View/Edit", "Edit", new { id = item.todolistid })
                            </div>

                        </div>
                    </a>
                                            }
                        <div class="createNewList">
                            @Html.ActionLink("+", "Create")
                        </div>
</div>
   

